@font-face {
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-family: "Roboto";
  font-weight: 300; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-family: "Roboto";
  font-weight: 400; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Italic.ttf");
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
  font-family: "Roboto";
  font-weight: 500; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-family: "Roboto";
  font-weight: 700; }

@font-face {
  src: url("../fonts/Roboto/Roboto-Black.ttf");
  font-family: "Roboto";
  font-weight: 900; }

@font-face {
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
  font-family: "Roboto Slab";
  font-weight: 400; }

@font-face {
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
  font-family: "Roboto Slab";
  font-weight: 700; }
