.container {
  position: relative;
  max-width: 990px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24 {
  padding-left: 5px;
  padding-right: 5px; }

.col-1 {
  width: 4.166666666666667%; }

.col-2 {
  width: 8.333333333333334%; }

.col-3 {
  width: 12.5%; }

.col-4 {
  width: 16.666666666666668%; }

.col-5 {
  width: 20.833333333333336%; }

.col-6 {
  width: 25%; }

.col-7 {
  width: 29.166666666666668%; }

.col-8 {
  width: 33.333333333333336%; }

.col-9 {
  width: 37.5%; }

.col-10 {
  width: 41.66666666666667%; }

.col-11 {
  width: 45.833333333333336%; }

.col-12 {
  width: 50%; }

.col-13 {
  width: 54.16666666666667%; }

.col-14 {
  width: 58.333333333333336%; }

.col-15 {
  width: 62.50000000000001%; }

.col-16 {
  width: 66.66666666666667%; }

.col-17 {
  width: 70.83333333333334%; }

.col-18 {
  width: 75.0%; }

.col-19 {
  width: 79.16666666666667%; }

.col-20 {
  width: 83.33333333333334%; }

.col-21 {
  width: 87.5%; }

.col-22 {
  width: 91.66666666666667%; }

.col-23 {
  width: 95.83333333333334%; }

.col-24 {
  width: 100%; }

.col-1-mr {
  margin-right: 4.166666666666667%; }

.col-2-mr {
  margin-right: 8.333333333333334%; }

.col-3-mr {
  margin-right: 12.5%; }

.col-4-mr {
  margin-right: 16.666666666666668%; }

.col-5-mr {
  margin-right: 20.833333333333336%; }

.col-6-mr {
  margin-right: 25%; }

.col-7-mr {
  margin-right: 29.166666666666668%; }

.col-8-mr {
  margin-right: 33.333333333333336%; }

.col-9-mr {
  margin-right: 37.5%; }

.col-10-mr {
  margin-right: 41.66666666666667%; }

.col-11-mr {
  margin-right: 45.833333333333336%; }

.col-12-mr {
  margin-right: 50%; }

.col-13-mr {
  margin-right: 54.16666666666667%; }

.col-14-mr {
  margin-right: 58.333333333333336%; }

.col-15-mr {
  margin-right: 62.50000000000001%; }

.col-16-mr {
  margin-right: 66.66666666666667%; }

.col-17-mr {
  margin-right: 70.83333333333334%; }

.col-18-mr {
  margin-right: 75.0%; }

.col-19-mr {
  margin-right: 79.16666666666667%; }

.col-20-mr {
  margin-right: 83.33333333333334%; }

.col-21-mr {
  margin-right: 87.5%; }

.col-22-mr {
  margin-right: 91.66666666666667%; }

.col-23-mr {
  margin-right: 95.83333333333334%; }

.col-24-mr {
  margin-right: 100%; }

.col-1-ml {
  margin-left: 4.166666666666667%; }

.col-2-ml {
  margin-left: 8.333333333333334%; }

.col-3-ml {
  margin-left: 12.5%; }

.col-4-ml {
  margin-left: 16.666666666666668%; }

.col-5-ml {
  margin-left: 20.833333333333336%; }

.col-6-ml {
  margin-left: 25%; }

.col-7-ml {
  margin-left: 29.166666666666668%; }

.col-8-ml {
  margin-left: 33.333333333333336%; }

.col-9-ml {
  margin-left: 37.5%; }

.col-10-ml {
  margin-left: 41.66666666666667%; }

.col-11-ml {
  margin-left: 45.833333333333336%; }

.col-12-ml {
  margin-left: 50%; }

.col-13-ml {
  margin-left: 54.16666666666667%; }

.col-14-ml {
  margin-left: 58.333333333333336%; }

.col-15-ml {
  margin-left: 62.50000000000001%; }

.col-16-ml {
  margin-left: 66.66666666666667%; }

.col-17-ml {
  margin-left: 70.83333333333334%; }

.col-18-ml {
  margin-left: 75.0%; }

.col-19-ml {
  margin-left: 79.16666666666667%; }

.col-20-ml {
  margin-left: 83.33333333333334%; }

.col-21-ml {
  margin-left: 87.5%; }

.col-22-ml {
  margin-left: 91.66666666666667%; }

.col-23-ml {
  margin-left: 95.83333333333334%; }

.col-24-ml {
  margin-left: 100%; }
